<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.minejs"
    versionCode = "10"
    version     = "1.0.0">

<!-- versionCode is optional and Android only -->

  <name>mine.js</name>

  <description>
      Javascript MineSweeper App
  </description>

  <author href="https://github.com/sinseiki/mine.js" email="eekdland@naver.com">
      Sinseiki
  </author>

<preference name="orientation"  value="landscape" />
<icon src="mine_icon.png" />


</widget>